/* styles.css */
.sidebar {
    background-color: #4B0082;
    padding: 20px;
    width: 300px;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.sidebar h2 {
    color: white;
}

.sidebar a {
    display: block;
    margin: 20px 0;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.sidebar hr {
    border: 0;
    height: 1px;
    background-color: #FFD700;
}

.main-content {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
