/* style.css */
.sidebar .sidebar-content {
    background-color: #4B0082;
    color: white;
    position: fixed;
    height: 100%;
}
.main .block-container {
    padding-top: 2rem;
    padding-left: 18rem;
}
.sidebar .sidebar-content a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 2.5;
}
.sidebar .sidebar-content a:hover {
    text-decoration: underline;
}
.sidebar .sidebar-content hr {
    border: 1px solid #FF8C00;
}
.main img {
    max-width: 100%;
}
